<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scholarship.demo.dao.studentDao">

  <insert id="apply" parameterType="com.scholarship.demo.model.Student"
          useGeneratedKeys="true" keyProperty="id">
    insert into project (pId,pName,sAccount,memberNum,memberInf,tAccount,pSource,pCode,pIntroduction,pStatus,years,pathFirst,lastTime)
    values (#{pId},#{pName},#{sAccount},#{memberNum},#{memberInf},#{tAccount},#{pSource},#{pCode},#{pIntroduction},#{pStatus},#{years},#{pathFirst},#{lastTime})
  </insert>

</mapper>